body{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

hr {
    border-style: none;
    border-color: #694F8E;
    border-width: 5px;
    border-top-style: dotted;
    width: 5%;
    margin: 50px auto;
}

/* Navbar section */

.navbar {
    background-color: #694F8E;
    padding: 1.5em; 
    text-align: center;
    position: relative;
    top: 0;
    left: -30px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Playpen Sans", cursive;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    /* font-family: cursive; */
    color: #EECEB9;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul.show {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
}

.navbar ul.show li {
    margin-right: 0;
    margin-bottom: 10px;
}

.navbar ul.show a {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #EECEB9;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 16px;
    /* font-family: cursive; */
    padding: 10px;
}

.navbar a:hover {
    color: #f47bb3
}


/* hamburger */

.hamburger {
    display: none;
    cursor: pointer;
    
}
.hamburger div {
    width: 25px;
    height: 4px;
    background-color: #EECEB9;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger.cross div:nth-child(1) {
    transform: rotate(45deg) translateX(13px);
  }
  
.hamburger.cross div:nth-child(2) {
    opacity: 0;
  }
  
.hamburger.cross div:nth-child(3) {
    transform: rotate(-45deg) translateX(13px);
  }



/* Top Container   */

.top-container {
    width: 100vw;
    background-color: #694F8E;
    position: relative;
    padding-top: 30px;
    text-align: center;
}

.sun{
    position: absolute;
    left: 320px;
    top: 10px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
  
/* Clouds coding*/

.left-cloud {
    position: absolute;
    left: 300px;
    /* transform: translateX(50%);     */
    top: 200px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }

.right-cloud {
    position: absolute;
    right: 300px;
    top: 10px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


/* birds coding */


.birds{
    position: absolute;
    right: 450px;
    bottom: 350px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* hot-air-ballon coding */
/* .hot-air-balloon {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    bottom: 50px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 1;
} */


/* My-name */


.my-name {
    /* margin-bottom: 2px; */
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #EECEB9;
    margin: 0px auto 10px auto;
}

.profession {
    /* text-decoration: underline; */
    margin-bottom: 70px;
    color: #EECEB9;
    font-size: 1.20rem;
    font-weight: normal;
    /* font-family: cursive; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.coding-image{
    padding-top: 10px;
    /* padding-bottom: 40px; */
    margin-bottom: -10px;
    max-width: 700px; /* set a maximum width of 300px */
}


/* middle container */


.middle-container {
    padding-top: 50px;
    background-color: #C8ACD6;
    color: #694F8E;
    font-family: "Playpen Sans", cursive;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.profile {
    text-align: center;
}

.myself{
    margin: 30px 30px;
}

.intro{
    width: 40%;
    margin: auto;
    padding-bottom: 10px;
    font-size: 15px;
}

.skills{
    text-align: center;
}

.skill-grid {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
    justify-content: center;
    margin: 0 auto;
}
  
.skill-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.skills-hr hr {
    border-style: none;
    border-color: #694F8E;
    border-width: 5px;
    border-top-style: dotted;
    width: 30%;
    margin: 50px auto;
}

.above-skills {
    border-style: none;
    border-color: #694F8E;
    border-width: 5px;
    border-top-style: dotted;
    width: 30%;
    margin: 50px auto;
}
  
.technology-icon{
    margin-top: 10px;
    margin-bottom: 5px; 
    transition: transform 0.2s ease-in-out;
}

.technology-icon:hover {
    transform: scale(1.1);
    animation: bounce 0.5s;
  }


.sub-skill{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Third container */


.third-container{
    padding-bottom: 5px; 
    background-color: #694F8E;
    color: #C8ACD6; 
    font-family: "Playpen Sans", cursive;
} 

.worked-at{
    padding-top: 15px;
}

.intro-work-experience{
    margin: auto;
    padding-top: 15px;
    font-size: 13px; 
}

.padding-bottom {
    padding-bottom: 50px ; 
}


/* footer section */


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding-bottom: 20px;
  }
  
.contact-info i {
    width: 35px;    
    height: 05px;
    margin-right: 10px;
    color: #C8ACD6
}
  
.contact-info span {
    font-size: 14px;
}

.contact-me{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info i:hover{
    color: #3e2365;
}

.contact-info a i {
    background-color: #C8ACD6; 
    color: #694F8E;
    border-radius: 50%; 
    width: 15px; 
    height: 15px; 
    padding: 10px; 
    text-align: center; 
} 

.thank-you{
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 13px;
  background-color: #EECEB9;
  color: #EECEB9;
  border: none;
  padding: 8px 10px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.back-to-top:hover {
  background-color: #e7c1a8;
}


/* Responsive design */


@media (max-width: 769px) {
    .navbar ul {
        display: none;
    }
    .hamburger {
        display: block;
        margin-right: 20px;
    }
    .navbar {
        justify-content: space-between;
    }
}

@media (max-width: 150px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar .logo {
        margin-bottom: 10px;
        /* align-items: start; */
    }
    .hamburger {
        margin-bottom: 10px;
        /* align-items: end; */

    }
}

/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
    /* Adjust layout and styling for mobile devices */
    .sun{
        width: 60px;
        left: 50px;
        top: 30px;
    }
    
    .left-cloud{
        width: 100px;
        left: 270px;
        top: 0;
    }
    .right-cloud {
        width: 100px;
        right: 270px;
        top: 280px;
      }
    .birds{
        left: 270px;
        bottom: 260px;
    }
    .coding-image{
        /* padding-top: 20px;  */
        width: 350px;   
    }

    .hamburger-box ul{
        background-color: #eeceb9;
    }
    
    .hamburger-box a{
        color: #694F8E;
    }
    .top-container {
        padding-top: 120px; 
        padding-bottom: 80px;
    }
    .worked-at{
        font-size: 0.9rem;
    }
    .middle-container {
        padding-top: 50px;
    }
    .mobile-width{
        font-size: 0.9rem;
    }
    .intro{
        width: 80%;
        /* margin: auto;
        padding-bottom: 10px;
        font-size: 15px; */
    }
    .skill-grid {
        gap: 40px;
        justify-content: center;
        margin: 0 auto;
    }
    .skills {
        flex-wrap: wrap;
    }

    /* footer */

    .contact-me {
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
    }
    .contact-info span {
        font-size: 14px;
        padding: 10px;
    }
    .thank-you {
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    }
  
  /* Tablets (min-width: 769px) and (max-width: 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjust layout and styling for tablets */
    .top-container {
      flex-direction: row;
    }
    .sun{
        left: 100px;
    }
    .left-cloud{
        left: 39rem;
        top: 100px;
    }
    .right-cloud {
        left: 50px;
        top: 200px;
      }
    .birds{
        left: 30rem;
        top: 15rem;
    }
    .middle-container {
      padding: 40px;
    }
    .skill-grid {
        gap: 80px;
    }
    /* footer */
    .contact-me {
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
    }
    .contact-info span {
        font-size: 14px;
        padding: 10px;
    }
    .thank-you {
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
  }
  
  /* Desktops (min-width: 1025px) */
@media only screen and (min-width: 1025px) {
    /* Adjust layout and styling for desktops */
    .top-container {
      flex-direction: row;
    }
    .middle-container {
      padding: 60px;
    }
    .contact-me { 
        display: flex;
    }
    .contact-info {
        flex-direction: column;
    }
    .contact-info span {
        font-size: 16px;
        align-items: right;
        padding: 10px;
    }
    .thank-you {
        font-size: 18px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }

@keyframes balloon-animation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes bounce {
    0%, 100% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.2);
    }
  }
